.fullpage-wrapper {
  position: absolute !important;
  top: 0;
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.s2 {
  background: #242323;
  background-image: url("https://res.cloudinary.com/party-images-app/image/upload/v1580409964/i30srekz4ofed7f8dxcc.png");
  background-size: 950px 621px;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center center;
}

@media (max-width: 900px) {
  .s2 {
    background-image: none;
  }
}

@media (max-width: 585px) {
  .section {
    background-size: contain;
    background-position: center center;
  }
  .s1 {
    background-size: 143px 287px; /*  238px 479px  */
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #fff;
  }

}
