.fullpage-wrapper {
  position: absolute !important;
  top: 0;
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.s2 {
  height: 50vh !important;
  background: #242323 !important;
}


@media (max-width: 585px) {
  .section {
    background-size: contain;
    background-position: center center;
  }
  .s2 {
    height: 100vh;
  }
}
